/* For Gallery PAGE */
.video-container {
    position: relative;
}

.video-container video {
    display: none;
    /* Hide video by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.video-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

/* If there's a video, the image fades out on hover */
.video-container:hover img {
    opacity: 0;
}

.video-container:hover video {
    display: block;
    /* Show video on hover */
    z-index: 2;
}

/* When there is no video, ensure the image doesn't disappear */
.video-container:not(.has-video) img {
    opacity: 1 !important;
}

/* For Product Page  */

.collection-title {
    background: linear-gradient(120deg, #000 0%, #333 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
}

.collection-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, #000, #333);
}

.search-container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.search-input {
    width: 100%;
    padding: 0.75rem 1rem;
    padding-right: 3rem;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: #000;
}

.search-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.product-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Add To Cart */

.add-to-cart {
    background: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid black;
}

.add-to-cart:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.3), transparent);
    transition: 0.5s;
}

.add-to-cart:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background: white;
    color: black;
}

.add-to-cart:hover:before {
    left: 100%;
}

.add-to-cart:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


/* for product detail page */

